#
# Proftpd sample configuration for FTPS connections.
#
# Note that FTPS impose some limitations in NAT traversing.
# See http://www.castaglia.org/proftpd/doc/contrib/ProFTPD-mini-HOWTO-TLS.html
# for more information.
#
<IfModule mod_tls.c>
TLSEngine                       on
# TLSProtocol : Versions de SSL
TLSProtocol                     TLSv1 SSLv3
TLSLog                          {{ proftp_tls_log_file }}
# Are clients required to use FTP over TLS when talking to this server?
TLSRequired                     on
# Authenticate clients that want to use FTP over TLS?
TLSVerifyClient                 off
TLSOptions 			NoCertRequest NoSessionReuseRequired
TLSRSACertificateFile           {{ proftp_ssl_cert_file }}
TLSRSACertificateKeyFile        {{ proftp_ssl_key_file }}
</IfModule>