#!/bin/bash
# Script that checks whether tomcat is still up, and if not:
# - e-mail the last bit of log files
# - restarts it

TOMCAT_MONITORING_TEMP_DIR=/tmp/tomcat-monitoring
ADDRESS_MONITORING_MAIL={{ tomcat_monitoring_mail }}
TOMCAT_STOP_CMD="{{ tomcat_stop_command }}"
TOMCAT_START_CMD="{{ tomcat_start_command }}"
TOMCAT_SERVICE_NAME="{{ tomcat_service_name }}"
TOMCAT_LOG_FILE="{{ tomcat_log_file }}"
mkdir -p $TOMCAT_MONITORING_TEMP_DIR

# Check status of Tomcat
COUNT=$(ps auxw|grep $TOMCAT_SERVICE_NAME|grep -v grep|grep -v tomcat_monitoring.sh|wc -l)
if [ $COUNT -eq 0 ]
then
    # Tomcat is down.
    # Try to restart ans send an mail to administrator
    MAIL_CONTENT=$TOMCAT_MONITORING_TEMP_DIR/tomcat_mail.txt
    echo -n "Tomcat Server is down at " > $MAIL_CONTENT
    date >> $MAIL_CONTENT
    echo >> $MAIL_CONTENT
    echo "------------------------" >> $MAIL_CONTENT
    echo "Error log:" >> $MAIL_CONTENT
    echo "------------------------" >> $MAIL_CONTENT
    tail -n 30 $TOMCAT_LOG_FILE >> $MAIL_CONTENT
    echo >> $MAIL_CONTENT
    # Restart tomcat
    echo "Restarting Tomcat..." >> $MAIL_CONTENT  
    $TOMCAT_STOP_CMD >> $MAIL_CONTENT 2>&1
    killall -3 $TOMCAT_SERVICE_NAME
    $TOMCAT_START_CMD >> $MAIL_CONTENT 2>&1
    echo >> $MAIL_CONTENT
    echo "------------------------" >> $MAIL_CONTENT
    echo "Tomcat log after restarting:" >> $MAIL_CONTENT
    echo "------------------------" >> $MAIL_CONTENT
    tail -n 30 $TOMCAT_LOG_FILE >> $MAIL_CONTENT
    echo >> $MAIL_CONTENT
    mail -s "Tomcat-monitoring: $(hostname) Tomcat down" $ADDRESS_MONITORING_MAIL <$MAIL_CONTENT
    rm $MAIL_CONTENT
fi
rm -rf $TOMCAT_MONITORING_TEMP_DIR