# Mutex Mecanism. Look at support on https://httpd.apache.org/docs/2.4/fr/mod/core.html#mutex
Mutex file:{{ apache_vhosts_dir }}/{{ item.documentRoot }}/mutex
{% if item.use_https %}
<IfModule ssl_module>
  SSLRandomSeed startup file:/dev/urandom 1024
  SSLRandomSeed connect file:/dev/urandom 1024
  SSLSessionCache shmcb:{{ apache_logs_dir }}/{{ item.documentRoot }}/ssl_scache(512000)
  SSLSessionCacheTimeout 1200
</IfModule>
{% endif %} 


<VirtualHost *:{{ http_default_port }}>
  ServerName {{ item.serverName }}
  {% if item.use_https %}
  Redirect permanent / https://{{ item.serverName }}  
  {% else %}
  
  # ServerAdmin: Your address, where problems with the server should be e-mailed.
  # This address appears on some server-generated pages, such as error documents.  e.g. admin@your-domain.com
  ServerAdmin {{ apache_server_admin }}
  
  # ServerName gives the name and port that the server uses to identify itself.
  # This can often be determined automatically, but we recommend you specify
  # it explicitly to prevent problems during startup.
  # If your host doesn't have a registered DNS name, enter its IP address here.
  ServerAlias {{ item.serverAlias }}
  
  RewriteEngine on
  RewriteRule ^/(.*)$ /{{ item.webapps }}/$1 [L,PT]
  JkMount /{{ item.webapps }}* {{ item.worker }}

  
  # Customizable error responses come in three flavors:
  # 1) plain text 2) local redirects 3) external redirects
  #
  # Some examples:
  #ErrorDocument 500 "The server made a boo boo."
  #ErrorDocument 404 /missing.html
  #ErrorDocument 404 "/cgi-bin/missing_handler.pl"
  #ErrorDocument 402 http://www.example.com/subscription_info.html

  LogLevel {{ apache_conf_log_level }}

  <IfModule log_config_module>
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%{Referer}i -> %U" referer
    LogFormat "%{User-agent}i" agent
    CustomLog "|{{ apache_home }}/bin/rotatelogs {{ apache_logs_dir }}/{{ item.documentRoot }}/access_%Y%m%d.log 86400" combined
    ErrorLog  "|{{ apache_home }}/bin/rotatelogs {{ apache_logs_dir }}/{{ item.documentRoot }}/error_%Y%m%d.log 86400"
  </IfModule>
  {% endif %}
</VirtualHost>

{% if item.use_https %}
<VirtualHost *:{{ https_default_port }}>
  
  # ServerAdmin: Your address, where problems with the server should be
  # e-mailed.  This address appears on some server-generated pages, such
  # as error documents.  e.g. admin@your-domain.com
  ServerAdmin {{ apache_server_admin }}
  
  # ServerName gives the name and port that the server uses to identify itself.
  # This can often be determined automatically, but we recommend you specify
  # it explicitly to prevent problems during startup.
  # If your host doesn't have a registered DNS name, enter its IP address here.
 
  ServerName {{ item.serverName }}
  ServerAlias {{ item.serverAlias }}
  SSLEngine on
  SSLCertificateFile		"{{ apache_vhosts_dir }}/{{ item.documentRoot }}/ssl/cert.pem"
  SSLCertificateKeyFile		"{{ apache_vhosts_dir }}/{{ item.documentRoot }}/ssl/key.pem"
  
  # CA certificate files location
  # SSLCACertificateFile		{{ apache_ssl_ca_cert }}
   
  RewriteEngine on
  RewriteRule ^/(.*)$ /{{ item.webapps }}/$1 [L,PT]
  JkMount /{{ item.webapps }}* {{ item.worker }}
  
  # Customizable error responses come in three flavors:
  # 1) plain text 2) local redirects 3) external redirects
  #
  # Some examples:
  #ErrorDocument 500 "The server made a boo boo."
  #ErrorDocument 404 /missing.html
  #ErrorDocument 404 "/cgi-bin/missing_handler.pl"
  #ErrorDocument 402 http://www.example.com/subscription_info.html

  LogLevel {{ apache_conf_log_level }}
  <IfModule log_config_module>
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%{Referer}i -> %U" referer
    LogFormat "%{User-agent}i" agent
    # Custom Log format for SSL request
    LogFormat "%t %h %{HTTPS}x %{SSL_PROTOCOL}x %{SSL_CIPHER}x \%{SSL_CIPHER_USEKEYSIZE}x %{SSL_CLIENT_VERIFY}x \"%r\" %b" ssl_log
    CustomLog "|{{ apache_home }}/bin/rotatelogs {{ apache_logs_dir }}/{{ item.documentRoot }}/access_%Y%m%d.log 86400" combined
    CustomLog "|{{ apache_home }}/bin/rotatelogs {{ apache_logs_dir }}/{{ item.documentRoot }}/ssl_request_%Y%m%d.log 86400" ssl_log
    ErrorLog  "|{{ apache_home }}/bin/rotatelogs {{ apache_logs_dir }}/{{ item.documentRoot }}/error_%Y%m%d.log 86400"
  </IfModule>
</VirtualHost>
# Key protection Passphrase at startup
SSLPassPhraseDialog		exec:{{ apache_vhosts_dir }}/{{ item.documentRoot }}/ssl/passphrase.sh
{% endif %}