{% for virtual_host in virtual_hosts %}

<VirtualHost *:80>
  
  # ServerAdmin: Your address, where problems with the server should be
  # e-mailed.  This address appears on some server-generated pages, such
  # as error documents.  e.g. admin@your-domain.com
  #
  ServerAdmin {{ virtual_host.serverAdmin }}
  
  # ServerName gives the name and port that the server uses to identify itself.
  # This can often be determined automatically, but we recommend you specify
  # it explicitly to prevent problems during startup.
  #
  # If your host doesn't have a registered DNS name, enter its IP address here.
  #
  ServerName {{ virtual_host.serverName }}
  ServerAlias {{ virtual_host.serverAlias }}

  ProxyRequests On
  ProxyPreserveHost On
  
  {% if virtual_host.documentRoot|string != '' %}
  DocumentRoot "{{ apache_home }}/site/{{ virtual_host.documentRoot }}"
  <Directory "{{ apache_home }}/site/{{ virtual_host.documentRoot }}">
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>
  {% endif %}
  
  {% if virtual_host.webapps|string != '' %}

  # Apache dessert les ressources statiques (une regexp permettant d'enlever le jsessionid de Struts)
  AliasMatch /{{ virtual_host.webapps }}/images/(.*\.[^;]*)(;jsessionid=.*)?$ /opt/tomcat/webapps/{{ virtual_host.webapps }}/images/$1
  
  # autorisation total sur les repertoires pour Apache
  <Directory /opt/tomcat/webapps/{{ virtual_host.webapps }}/images>
    Allow from all
  </Directory>
  
  ProxyPass / http://localhost:{{ tomcat_http_port }}/{{ virtual_host.webapps }}/
  # Le proxy (donc Tomcat) ne dessert pas les ressources statiques
  ProxyPass /{{ virtual_host.webapps }}/images !
	
  # TODO : rework here with explication
  ProxyTimeout 7200
  
  # Apache dessert les ressources statiques (une regexp permettant d'enlever le jsessionid)
  AliasMatch /{{ virtual_host.webapps }}/images/(.*\.[^;]*)(;jsessionid=.*)?$ {{ tomcat_home }}/webapps/{{ virtual_host.webapps }}/images/$1
  
   # autorisation total sur les repertoires pour Apache
  <Directory {{ tomcat_home }}/webapps/{{ virtual_host.webapps }}/images>
    Allow from all
  </Directory>
 
  {% endif %} 
  

  # Customizable error responses come in three flavors:
  # 1) plain text 2) local redirects 3) external redirects
  #
  # Some examples:
  #ErrorDocument 500 "The server made a boo boo."
  #ErrorDocument 404 /missing.html
  #ErrorDocument 404 "/cgi-bin/missing_handler.pl"
  #ErrorDocument 402 http://www.example.com/subscription_info.html

  LogLevel {{ apache_conf_log_level }}

  <IfModule log_config_module>
      LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
      LogFormat "%h %l %u %t \"%r\" %>s %b" common
      LogFormat "%{Referer}i -> %U" referer
      LogFormat "%{User-agent}i" agent
      CustomLog "|{{ apache_home }}/bin/rotatelogs {{ apache_home }}/logs/{{ virtual_host.log_dir }}/access_%Y%m%d.log 86400" common
      ErrorLog "|{{ apache_home }}/bin/rotatelogs {{ apache_home }}/logs/{{ virtual_host.log_dir }}/error_%Y%m%d.log 86400"
  </IfModule>
</VirtualHost>

{% endfor %}