workers.tomcat_home={{ tomcat_home }}
workers.java_home={{ java_home }}
worker.list=worker1
worker.worker1.port={{ tomcat_mod_jk_port }}
worker.worker1.host=localhost
worker.worker1.type=ajp13
worker.worker1.lbfactor=1