workers.java_home={{ java_home }}
worker.list=worker1
{% for vhost in apache_vhosts_mod_jk %}
worker.{{ vhost.worker }}.port={{ tomcat_mod_jk_port }}
worker.{{ vhost.worker }}.host={{ vhost.tomcat_host }}
worker.{{ vhost.worker }}.type=ajp13
worker.{{ vhost.worker }}.lbfactor=1
{% endfor %}