#!/bin/bash
# Script that checks whether apache is still up, and if not:
# - e-mail the last bit of log files
# - restarts it

APACHE_MONITORING_TEMP_DIR=/tmp/apache-monitoring
ADDRESS_MONITORING_MAIL={{ apache_monitoring_mail }}
APACHE_STOP_CMD="{{ apache_stop_command }}"
APACHE_START_CMD="{{ apache_start_command }}"
APACHE_SERVICE_NAME="{{ apache_service_name }}"
mkdir -p $APACHE_MONITORING_TEMP_DIR

# Check status of Apache
COUNT=$(ps auxw|grep $APACHE_SERVICE_NAME|grep -v grep|wc -l)
if [ $COUNT -eq 0 ]
then
    # Apache is down.
    # Try to restart ans send an mail to administrator
    MAIL_CONTENT=$APACHE_MONITORING_TEMP_DIR/apache_mail.txt
    echo -n "Apache Server is down at " > $MAIL_CONTENT
    date >> $MAIL_CONTENT
    echo >> $MAIL_CONTENT
    echo "------------------------" >> $MAIL_CONTENT
    echo "Syslog:" >> $MAIL_CONTENT
    echo "------------------------" >> $MAIL_CONTENT
    tail -n 30 /var/log/syslog >> $MAIL_CONTENT
    echo >> $MAIL_CONTENT
    echo "------------------------" >> $MAIL_CONTENT
    echo "Error log:" >> $MAIL_CONTENT
    echo "------------------------" >> $MAIL_CONTENT
    if [ -f "{{ apache_today_error_log_file }}" ];
    then
      APACHE_ERROR_LOG_FILE="{{ apache_today_error_log_file }}"
    else
      APACHE_ERROR_LOG_FILE="{{ apache_yesterday_error_log_file }}"
    fi 
    
    tail -n 30 $APACHE_ERROR_LOG_FILE >> $MAIL_CONTENT
    echo >> $MAIL_CONTENT
    # Restart apache
    echo "Restarting apache..." >> $MAIL_CONTENT  
    $APACHE_STOP_CMD >> $MAIL_CONTENT 2>&1
    killall -3 $APACHE_SERVICE_NAME
    $APACHE_START_CMD >> $MAIL_CONTENT 2>&1
    echo >> $MAIL_CONTENT
    mail -s "Apache-monitoring: $(hostname) Apache down" $ADDRESS_MONITORING_MAIL <$MAIL_CONTENT
    rm $MAIL_CONTENT
fi

rm -rf $APACHE_MONITORING_TEMP_DIR