workers.java_home={{ java_home }}
worker.list=loadbalancer

# TODO : Rework : get the list of the workers by loop instruction
{% for key, value in apache_vhosts_mod_jk.iteritems() %}
{% for worker in value.workers %}
worker.{{ worker.name }}.port={{ worker.port }}
worker.{{ worker.name }}.host={{ worker.host }}
worker.{{ worker.name }}.type=ajp13
worker.{{ worker.name }}.ping_mode=A
worker.{{ worker.name }}.lbfactor=1
{% endfor %}
{% endfor %}

# Load-balancing behavior
worker.loadbalancer.type=lb
# TODO : Rework : get the list of the workers by loop instruction
worker.loadbalancer.balance_workers=worker1,worker2
worker.loadbalancer.sticky_session=1