---

package:
  proftpd:
    installed: true

group:
  {{ proftp_group }}:
    exists: true

user:
  {{ proftp_user }}:
    exists: true

file:
  {{ proftp_modules_conf_path}}:
    exists: true
    owner: "{{ proftp_user }}"
    group: "{{ proftp_group }}"
    mode: "0644"

file:
  {{ proftp_conf_path}}:
    exists: true
    owner: "{{ proftp_user }}"
    group: "{{ proftp_group }}"
    mode: "0644"

service:
  proftpd:
    # required attributes
    enabled: true
    running: true

port:
  tcp:{{ proftp_default_port }}:
    listening: true