check process apache with pidfile {{ monit_apache_pid_file }}
start program = "{{ monit_apache_start_command }}"
stop program = "{{ monit_apache_stop_command }}"
if 5 restarts within 5 cycles then timeout